* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(158deg, rgba(0,0,0,1) 0%, rgba(33,17,73,1) 53%, rgba(47,0,115,1) 100%);
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

a {
    color: inherit;
    font-weight: 700;
}

/* NAVIGATION */

.site-nav {
    width: 40px;
    height: 100%;
    display: block;
    position: relative;
    z-index: 10;
}

.site-nav__list, .intro {
    height: 100%;
    top: 0;
    display: flex;
    position: fixed;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease;
}

.site-nav__list {
    background: #1b1b1b;
    width: 120px;
    left: -120px;
    opacity: 0;
    padding: 0;
    list-style: none;
}

.site-nav__list li {
    margin: 1em 0;
}

.site-nav__list a {
    color: rgb(183, 183, 183);
    width: 100px;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
}

.site-nav__list a:hover,
.site-nav__list a:focus,
.site-nav__list a:active {
    color: #fff;
}

.intro {
    padding: 0 8px;
    left: 0;
    text-align: center;
}

.site-nav__toggle {
    background: #000;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    display: block;
    position: absolute;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.site-nav__toggle::before, .site-nav__toggle::after {
    background: #fff;
    width: 20px;
    height: 2px;
    left: 10px;
    display: block;
    position: absolute;
    transition: all 0.75s ease;
    content: "";
}
.site-nav__toggle::before {
    top: 16px;
}
.site-nav__toggle::after {
    bottom: 16px;
}

.site-nav:focus-within .site-nav__list {
    left: 0;
    opacity: 1;
}
.site-nav:focus-within .intro {
    left: 120px;
}
.site-nav:focus-within .site-nav__toggle::before {
    transform: rotate(45deg) translate(2px, 2px);
}
.site-nav:focus-within .site-nav__toggle::after {
    transform: rotate(-45deg) translate(2px, -2px);
}

p, li {
    letter-spacing: 1px;
    line-height: 1.25;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased
}

ul, ol {
    margin-left: 2rem;
}

li {
    margin-bottom: 0.75em;
}

.d-none {
    display: none;
}
