* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}




.menu {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
}

.list, .intro {
    height: 100%;
    top: 0;
    display: flex;
    position: fixed;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease;
}

.list {
    background: #26d07c;
    width: 120px;
    left: -120px;
    opacity: 0;
}

.list span {
    background: #fff;
    width: 100px;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
}

.intro {
    /* width: 100%; */
    padding: 0 8px;
    left: 0;
    text-align: center;
}

.btn {
    background: #000;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    display: block;
    position: absolute;
    border-radius: 50%;
    border: none
}
.btn::before, .btn::after {
    background: #fff;
    width: 20px;
    height: 2px;
    left: 10px;
    display: block;
    position: absolute;
    transition: all 0.75s ease;
    content: "";
}
.btn::before {
    top: 16px;
}
.btn::after {
    bottom: 16px;
}

.menu:focus-within .list {
    left: 0;
    opacity: 1;
}
.menu:focus-within .intro {
    left: 120px;
}
.menu:focus-within .btn::before {
    transform: rotate(45deg) translate(2px, 2px);
}
.menu:focus-within .btn::after {
    transform: rotate(-45deg) translate(2px, -2px);
}